<h1 class="page-header">{{title}}</h1>
<div class="list-group">
    <a ng-repeat="item in subjects" href="#!/detail/{{item.id}}" class="list-group-item">
        <span class="badge">评分：{{item.rating.average}}</span>
        <div class="media">
            <div class="media-left">
                <div class="media-left">
                    <img class="media-object" ng-src="{{item.images.small}}" alt="item.title" height="128">
                </div>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{item.title}}</h3>
                <p>类型：<span>{{item.genres.join("、")}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年份：<span>{{item.year}}</span>
                </p>
                <p>导演：<span ng-repeat="a in item.directors">{{a.name}}{{$last?'':'、'}}</span></p>
            </div>
        </div>
    </a>
</div>
<nav aria-label="Page navigation" style="text-align: center">
    <ul class="pagination  ">
        <li ng-class="{disabled:src2<=1}">
            <a href="{{src}}{{src2-1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="b in totalPages() track by $index" ng-class={active:{{src2}}=={{$index+1}}}><a ng-href="{{src}}{{$index+1}}">{{$index+1}}</a></li>
        <li ng-class="{disabled:src2>=last}">
            <a href="{{src}}{{src2+1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
